spring:
  application:
    name: gateway
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: user
              uri: lb://user
              predicates:
                - Path=/api/v1/users/**,
                  /api/v1/auth/**,
                  /login/oauth2/**,
                  /oauth2/**,
                  /api/v1/admins/**,


            - id: calendar
              uri: lb://calendar
              predicates:
                - Path=/api/v1/calendars/**, /api/v1/invites/**, /api/v1/members/**, /api/v1/tasks/** , /api/v1/events/**

server:
  port: 8222

management:
  tracing:
    sampling:
      probability: 1.0

