spring:
  application:
    name: calendar
  config:
    import: optional:configserver:localhost:8888
  datasource:

    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    database: postgresql
    hibernate:
      ddl-auto: update

  kafka:
    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.type.mapping: CalendarInviteEvent:org.example.calendarservice.kafka.CalendarInviteEvent


server:
  port: 8070

jwt:
  secret: ${JWT_SECRET}
